[finalization]

enableVoting = {{voting}}

size = 10'000
threshold = 7'000
stepDuration = 2m

shortLivedCacheMessageDuration = 10m
messageSynchronizationMaxResponseSize = 20MB

maxHashesPerPoint = 256
prevoteBlocksMultiple = 4
votingKeyDilution = 128
