[account]

enableDelegatedHarvestersAutoDetection = {{{enableDelegatedHarvestersAutoDetection}}}

[storage]

certificateDirectory = {{{certificateDirectory}}}
dataDirectory = {{{dataDirectory}}}
pluginsDirectory = {{{catapultAppFolder}}}/lib
votingKeysDirectory = {{{votingKeysDirectory}}}
