[harvesting]

harvesterSigningPrivateKey = {{{harvesterSigningPrivateKey}}}
harvesterVrfPrivateKey = {{{harvesterVrfPrivateKey}}}

enableAutoHarvesting = true
maxUnlockedAccounts = 5
delegatePrioritizationPolicy = Importance
beneficiaryAddress =
