[finalization]

enableVoting = {{voting}}
enableRevoteOnBoot = {{enableRevoteOnBoot}}

size = {{{toAmount finalizationSize}}}
threshold = {{{toAmount finalizationThreshold}}}
stepDuration = {{{stepDuration}}}

shortLivedCacheMessageDuration = {{{shortLivedCacheMessageDuration}}}
messageSynchronizationMaxResponseSize = {{{messageSynchronizationMaxResponseSize}}}

maxHashesPerPoint = {{{toAmount maxHashesPerPoint}}}
prevoteBlocksMultiple = {{{toAmount prevoteBlocksMultiple}}}

unfinalizedBlocksDuration = {{{unfinalizedBlocksDuration}}}
