[account]

enableDelegatedHarvestersAutoDetection = {{{enableDelegatedHarvestersAutoDetection}}}

[storage]

seedDirectory = /seed
certificateDirectory = {{{certificateDirectory}}}
dataDirectory = {{{dataDirectory}}}
pluginsDirectory = {{{catapultAppFolder}}}/lib
votingKeysDirectory = {{{votingKeysDirectory}}}
