**/.nyc_output
**/dist
**/lib
**/tmp
**/yarn.lock
**/node_modules
**/logs.log
packages/*/target
/.idea/
**/symbol-*.tgz
**/.eslintcache
**/coverage
**/ts-docs/
**/oclif.manifest.json
**/boat.png
**/agent-linux.bin
/test-space/
