*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
/target/
/.idea/
/logs.log
symbol-bootstrap-*.tgz
/.eslintcache
coverage
privateSeeds
/ts-docs/
/oclif.manifest.json
/ngrok-testnet.yml
/boat.png
/agent-linux.bin
/privateSeeds/
/test/service/logs.log
/backup-sync/
/nemesis.7z
