dist: bionic
language: node_js
node_js:
    - 10
    - 12
services:
    - docker
env:
    global:
        - DEV_BRANCH=dev
        - RELEASE_BRANCH=main
        - POST_RELEASE_BRANCH=main
        - RELEASE_MESSAGE=release
cache:
    bundler: true
    directories:
        - node_modules
        - .eslintcache
before_script:
    - . ./travis/node-functions.sh
    - VERSION="$(node_load_version)"
    - if [[ ! -z "$DOCKER_USERNAME" ]] ; then echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin; fi
    - log_env_variables
script:
    - npm pack
    - npm test
    - npm run coveralls-report
jobs:
    include:
        - stage: test
          name: docs
          script: npm run doc
        - name: e2e tests
          script: npm run e2e
          if: (branch = env(DEV_BRANCH) AND type = cron) OR (commit_message = e2e)
        - stage: publish
          name: github alpha pages
          script: /bin/bash travis/node-functions.sh node_push_github_pages
          if: branch = env(DEV_BRANCH) AND type = push
        - name: alpha npm
          script: npm pack && /bin/bash travis/node-functions.sh node_publish_alpha
          if: (branch = env(DEV_BRANCH) AND type = push) OR (type = api AND commit_message = alpha)
        - stage: release
          name: release npm
          script: npm pack && /bin/bash travis/node-functions.sh node_publish_release
          if: branch = env(RELEASE_BRANCH) AND type = api AND commit_message = env(RELEASE_MESSAGE)
        - stage: post release
          name: tag and version upgrade
          script: npm pack && /bin/bash travis/node-functions.sh node_post_release
          if: branch = env(RELEASE_BRANCH) AND type = api AND commit_message = env(RELEASE_MESSAGE)
