NODE_PRIVATE_KEY={{{nodePrivateKey}}}
LOGGER_FILE=logs/agent.log
REST_GATEWAY_URL={{{restGatewayUrl}}}
REWARD_PROGRAM={{{rewardProgram}}}
CONTROLLER_PUBLIC_KEY={{{supernodeControllerPublicKey}}}
CERTS_CA_FILE={{{supernodeCaFile}}}
CERTS_KEY_FILE=userconfig/agent/agent-key.pem
CERTS_CERT_FILE=userconfig/agent/agent-crt.pem
