window.globalConfig = {
	'peersApi': {
		'defaultNode': '{{defaultNode}}',
		'nodes': [
{{#restNodes}}
			'{{{.}}}',
{{/restNodes}}
		]
	},
	'endpoints': {
		'marketData': 'https://min-api.cryptocompare.com/'
	},
	'networkConfig': {
		'namespaceName': '{{namespaceName}}',
		'mosaicId': '{{{toSimpleHex currencyMosaicId}}}',
		'divisibility': '{{maxMosaicDivisibility}}'
	},
	'footer': {{{toJson footer}}}
};

console.log('GLOBAL CONFIG LOADED!');
