NODE_PRIVATE_KEY={{{nodePrivateKey}}}
LOGGER_FILE=logs/agent.log
REST_GATEWAY_URL={{{restGatewayUrl}}}
REWARD_PROGRAM={{{rewardProgram}}}
CONTROLLER_PUBLIC_KEY={{{rewardProgramControllerPublicKey}}}
CERTS_CA_FILE={{{rewardProgramCaFile}}}
CERTS_KEY_FILE=agent-key.pem
CERTS_CERT_FILE=agent-crt.pem
