#!/bin/bash
set -e

name=$1
echo "RUNNING runServerRecover.sh $name"

ulimit -c unlimited
if [ -e "{{{dataDirectory}}}/broker.lock" ] || [ -e "{{{dataDirectory}}}/server.lock" ]; then
  echo "!!!! Have lock file present, going to run recovery...."
  exec env LD_LIBRARY_PATH={{{catapultAppFolder}}}/lib:{{{catapultAppFolder}}}/deps {{{catapultAppFolder}}}/bin/catapult.recovery ./userconfig
  echo "!!!! Finished running recovery, should be moving on to start server..."
else
  echo "!!!! DO NOT HAVE ANY LOCK FILE... There is no need to recover"
  exit 0;
fi

