#!/bin/bash
set -e

name=$1
mode=$2

echo "RUNNING startServer.sh $name $mode"

ulimit -c unlimited

if [ "$mode" == "DEBUG" ]; then
  echo "Setting up core dump..."
  mkdir -p ./logs
  echo './logs/server.%e.%t' >/proc/sys/kernel/core_pattern
fi

exec env LD_LIBRARY_PATH={{{catapultAppFolder}}}/lib:{{{catapultAppFolder}}}/deps {{{catapultAppFolder}}}/bin/catapult.server ./userconfig
