#!/bin/bash
set -e

name=$1
echo "RUNNING startBroker.sh $name"

ulimit -c unlimited


touch ./data/broker.started

exec env LD_LIBRARY_PATH={{{catapultAppFolder}}}/lib:{{{catapultAppFolder}}}/deps {{{catapultAppFolder}}}/bin/catapult.broker ./userconfig
